<br>
<br>
<div class="well">

<h1>About a_m_a</h1>
  <p>
    a-m-a stands for ask me anything, it's a site where users can post questions and receive answers, anything pertaining to a certain subject matter.  The point of the project is to start conversations.
  </p>
</div>
