<h1>Ask Me Anything</h1>

<p>Welocme to a_m_a, you can post a question and recieve answers.<br>Lets get the conversation sarted</p>

{{#link-to 'about'}}About{{/link-to}}
<!-- again ^this^ will change once we get the nav bar working  -->
