<br>
<br>

<!-- ^this^ is super janky at the moment -->
<h1>Ask Me Anything</h1>

<p>Welocme to a_m_a, you can post a question and recieve answers.<br>Lets get the conversation sarted</p>

<ul>
  {{#each model as |subject|}}
     {{subject-tile subject=subject}}
  {{/each}}
</ul>

{{new-subject saveSubject="saveSubject"}}
<!-- I'm thinking the link to ^this^ component should be in the nav bar -->
